<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>cart</title>
  </head>
  <body>
  <h1> Your Cart Contents:  </h1>
  <br>
  <h2><ul> <li><%=session[:item]%></li></ul> </h2>
  </body>
</html>
