<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>My Store</title>
 </head>
 <body>
 <h1>Add Item To Your Cart</h1>
 <form method="POST" action="/checkout">
    Item Name: <input type="text" name="item">
    <button type="submit" id="submit">Submit</button>
    
</form>
</body>
</html>
