
<form action="/checkout" method="POST">
<input id = "item" type = "text"></p>
<input id= "submit" type= "submit">
</form>


<%# <form action ="/teams" method = "post">
  <h1> Create a Team and Heroes!</h1>
  <p>Team Name: <input id = "team[name]" name = "team[name]" type = "text"></p> %>